<header>
  <img id="nav" ngSrc="/assets/drawer-icon.png" class="drawer-icon" alt="side-panel-drawer" height="256" width="256"
       (click)="askToggleDrawer()" (keydown.enter)="askToggleDrawer()">
  <img ngSrc="/assets/favicon.ico" alt="LOGO" height="3264" width="3264">
  <h1>Hypixel Companion - Bazaar</h1>
  <section class="search_bar">
    <button class="multi-usage-button" id="update-pricing" (click)="askNewRequest()">Update Pricing</button>
    <label>
      Search Field
      <input type="text" name="search" placeholder="Search item" id="search-bar" (keyup.enter)="newSearch()">
    </label>
  </section>
</header>

