header .drawer-icon {
  height: 40px;
  width: 40px;
  margin: auto 1rem;
}

header img {
  height: 60px;
  width: 60px;
  margin-left: 1rem;
}

header h1 {
  flex: 1 1;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.75rem;
  text-transform: capitalize;
  color: var(--third-color);
}

header #search-bar {
  margin: 1rem 3px;
}

header #search-bar:focus {
  outline-color: var(--third-color);
}

.header-button{
  flex: auto;
  text-align: center;
  height: 2.2rem;
}
