:host {
  width: 100%;
}
.catalogue {
  flex: auto;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  row-gap: normal;
}

article {
  border: 5px solid rgba(255, 255, 255, 0.6);
  padding: 4px;
}

article:hover {
  border-color: #ffc376;
  cursor: pointer;
}

