<h2 class="{{item.tier.toLowerCase()}}">{{ item.name }}</h2>
<img [src]="getImagePath()" decoding="async" loading="lazy" [alt]="item.name">
<p>Category : {{ item.category }}</p>
<p>Buying Price : {{ item.pricing.buyPrice | number }}</p>
<p [class.undefined]="shouldDisplayNPCPrice()">Selling Price : {{ item.pricing.sellPrice | number }}</p>
<p *ngIf="shouldDisplayNPCPrice()" class="special">NPC Buy Price : {{ item.npcBuyPrice | number }}</p>
<p *ngIf="item.opportunity!==undefined" class="{{getOpportunityCSSClass()}}">Minimal Price : {{ item.pricing.minimalPrice | number }} [{{item.opportunity}}]</p>
