:host {
  transition: 0.3s;
  width: 0;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-width: 450px) {
  .menu-open {
    width: fit-content;
  }
}


.sidenav {
  z-index: 5;
  color: rgb(170, 170, 170);
  min-height: 85vh;
  height: 100%;
  width: 0;
  position: relative;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.3s;
  background-color: rgb(66, 66, 66);
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 16px 8px 16px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(255, 255, 255);
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: rgb(255, 195, 118);
}

.menu-open {
  width: 15vw;
  border-color: #ffc376;
  border-style: solid;
  border-width: thin thin thin 0;
}
