/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: customFont;
  src: url(/assets/myFont.ttf);
}

:root {
  --primary-color: #FFF;
  --secondary-color: rgb(170, 170, 170);
  --third-color: #ffc376;
  --primary-background-color: rgba(0, 0, 0, 1);
  --secondary-background-color: rgb(66, 66, 66);
  --p-mask-background: rgba(66, 66, 66, 0.5);
  --p-dialog-color: var(--primary-color);
  --p-dialog-border-color: var(--third-color);
  --p-dialog-background: var(--secondary-background-color);
}

:host, :root {
  font-family: customFont, serif;
}

header {
  z-index: 10; /* Stay on top */
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  background-color: var(--secondary-background-color);
  text-align: center;
  color: var(--primary-color);
  justify-content: space-between;
  overflow: hidden;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, .2), 0 0 0 0 rgba(0, 0, 0, .14), 0 0 0 0 rgba(0, 0, 0, .12);
  width: 100%;
  max-height: 10vh;
}

header h1 {
  flex: 1 1;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.75rem;
  text-transform: capitalize;
  color: var(--third-color);
}


header img {
  height: 60px;
  width: 60px;
  margin-left: 1rem;
}

header .drawer-icon {
  height: 40px;
  width: 40px;
  margin: auto 1rem;
}


header #search-bar {
  margin-right: 3px;
}

header #search-bar:focus {
  outline-color: var(--third-color);
}

.header-button{
  flex: auto;
  text-align: center;
  height: 2.2rem;
}


.horizontal-div{
  border: thin solid var(--third-color);
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--primary-color);
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;
  padding-left: 1rem;
}

body {
  position: relative;
  min-height: 100vh;
  max-width: 100%;
  margin: 0;
  background-color: var(--primary-background-color);
  border-color: var(--third-color);
  color: var(--primary-color);
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 768px) {
  .hide-in-small-screen {
    display: none;
  }
}

.active {
  display: flex !important;
}

.common {
  color: #FFFFFF !important;
}

.uncommon {
  color: #55FF55 !important;
}

.rare {
  color: #5555FF !important;
}

.epic {
  color: #AA00AA !important;
}

.legendary {
  color: #FFAA00 !important;
}

.mythic {
  color: #FF55FF !important;
}

.special {
  color: #FF5555 !important;
}

.no-tier {
  color: #BBBBBB;
}

.undefined {
  color: #BBBBBB;
  text-decoration: line-through;
}

:root .p-dialog {
  border: 2px solid var(--p-dialog-border-color);
  height: 80%;
}

.p-dialog-header {
  width: 100%;
  height: fit-content;
  background-color: var(--third-color);
}

.p-dialog-title {
  width: 100%;
  height: fit-content;
  text-align: center;
  background-color: var(--third-color);
  --p-dialog-title-font-size: xx-large;
  --p-dialog-title-font-weight: bold;
}


.p-dialog-header-actions {
  position: absolute;
  right: 0;
  color: #FF5555;
  height: fit-content;
  font-size: 0;
}

.p-dialog-close-button {
  min-width: 40px;
  height: fit-content;
  margin: 0;
  justify-content: center;
}
