footer{
  z-index: 10;
  position: absolute;
  bottom: 0;
  flex-direction: row;
  text-align: center;
  vertical-align: center;
  background-color: var(--secondary-background-color);
  width: 100%;
  height: fit-content;
}

p{
  margin: 3px;
}
